<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>YelpWebServices</display-name>
  <error-page>
    <error-code>404</error-code>
    <location>/View/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Start</display-name>
    <servlet-name>Start</servlet-name>
    <servlet-class>Servlets.Start</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Start</servlet-name>
    <url-pattern>/View/start</url-pattern>
    <url-pattern>/View/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signUp</display-name>
    <servlet-name>signUp</servlet-name>
    <servlet-class>Servlets.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUp</servlet-name>
    <url-pattern>/View/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/View/Logout</url-pattern>
    <url-pattern>/View/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>Servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/View/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>yourProfile</display-name>
    <servlet-name>yourProfile</servlet-name>
    <servlet-class>Servlets.User_Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yourProfile</servlet-name>
    <url-pattern>/View/yourProfile</url-pattern>
    <url-pattern>/yourProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>postReview</display-name>
    <servlet-name>postReview</servlet-name>
    <servlet-class>Servlets.PostReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postReview</servlet-name>
    <url-pattern>/View/postReview</url-pattern>
    <url-pattern>/postReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editReview</display-name>
    <servlet-name>editReview</servlet-name>
    <servlet-class>Servlets.EditReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editReview</servlet-name>
    <url-pattern>/View/editReview</url-pattern>
    <url-pattern>/editReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletePost</display-name>
    <servlet-name>deletePost</servlet-name>
    <servlet-class>Servlets.DeleteReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePost</servlet-name>
    <url-pattern>/View/deletePost</url-pattern>
    <url-pattern>/deletePost</url-pattern>
  </servlet-mapping>
</web-app>